# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [53]:
# For Apple Silicon (M1) machine, created virtual environment for machine learning and tensorflow libraries, including tensorflow-metal, according to Apple's recommendations:
# https://developer.apple.com/metal/tensorflow-plugin/

In [54]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [55]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))

# Review the DataFrame
display(applicant_data_df.info(), applicant_data_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

None

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [56]:
# Review the data types associated with the columns
print(applicant_data_df.dtypes)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [57]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
display(applicant_data_df)
# We have 9 features, or explanatory variables, and 1 target variable, in our final source dataset, prior to any encoding

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [58]:
# Create a list of categorical variables, filtering out numerical fields and leaving categorical fields
cat_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)
#categorical_variables = applicant_data_df.dtypes.loc[applicant_data_df.dtypes=='object'].index #Alternative formulation using .loc, does not appear advantageous

# Display the categorical variables list
display(cat_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [59]:
# Create a OneHotEncoder instance
encoder = OneHotEncoder()

In [60]:
# Review the applicant categorical DataFrame
applicant_cat_data_df = applicant_data_df[cat_variables]
display(applicant_cat_data_df)

# Encode the categorical DataFrame using OneHotEncoder
applicant_cat_data_encoded = encoder.fit_transform(applicant_cat_data_df)
print(f"Categorical DataFrame shape: {applicant_cat_data_encoded.shape}")

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

Categorical DataFrame shape: (34299, 114)

In [61]:
# Create a DataFrame with the encoded variables
applicant_cat_data_encoded_df = pd.DataFrame(applicant_cat_data_encoded.todense(), columns=encoder.get_feature_names_out(cat_variables)) # 'todense() required as it appears pandas requires dense, not sparse input

# Review the DataFrame
display(applicant_cat_data_encoded_df)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [62]:
# Create DataFrame for numerical fields only
applicant_num_data_df = applicant_data_df.drop(columns=cat_variables)
#display(applicant_num_data_df)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
applicant_encoded_df = pd.concat([applicant_num_data_df, applicant_cat_data_encoded_df], axis='columns')

# Review the DataFrame
display(applicant_encoded_df)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [63]:
#Create a list for the target variable field name(s)
y_target = ['IS_SUCCESSFUL']

# Define the target set y using the IS_SUCCESSFUL column
y = applicant_encoded_df[y_target]

# Display a sample of y
display(y)
display(y.value_counts())
# Observed target variable, y, is already numerically encoded, therefore can forgo encoding via something like LabelEncoder() object.

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 1 columns]

IS_SUCCESSFUL
1                18261
0                16038
Name: count, dtype: int64

In [64]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = applicant_encoded_df.drop(columns=y_target)

# Review the features DataFrame
display(X)

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [65]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [66]:
# Create a StandardScaler instance
standard_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler_fit = standard_scaler.fit(X_train)

# Use the fit scaler to transform the scale of the features training and testing datasets
X_train_scaled = X_scaler_fit.transform(X_train)
X_test_scaled = X_scaler_fit.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers. 'relu' is the Rectified Linear Unit activation function.

In [94]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1] # Alternative formulation is: len(X_train.iloc[0])
#print(X_train_scaled.shape)
print(X_train.shape)

# Review the number of features
print(number_input_features)

(25724, 116)
116

In [68]:
# Define the number of neurons in the output layer
number_output_neurons = 1 # Single target variable output neuron

In [69]:
# Define the number of hidden nodes for the first hidden layer
# We will use the general guidance provided in class, although this is more art than recipe:
# Use the mean of the number of input features plus the number of output neurons
hidden_nodes_layer_1 =  (number_input_features + number_output_neurons) // 2 # Python floor division operator (//) returns the quotient rounded down to the nearest integer

# Review the number hidden nodes in the first layer
print(hidden_nodes_layer_1)

58

In [70]:
# Define the number of hidden nodes for the second hidden layer
# We will use the general guidance provided in class, although more art than recipe:
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output neurons
hidden_nodes_layer_2 =  (hidden_nodes_layer_1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
print(hidden_nodes_layer_2)

29

In [81]:
# Create the Sequential model instance
neural_net = Sequential(name='neural_net_venture_funding_model') # An alternative formulation is the Functional Model, or Model() object, also from the Keras library (c.f. https://becominghuman.ai/sequential-vs-functional-model-in-keras-20684f766057)

In [82]:
# Add the first hidden layer
neural_net_layer_1 = neural_net.add(Dense(units=hidden_nodes_layer_1, input_dim=number_input_features, 
                                                      activation='relu', name='layer_1'))

In [83]:
# Add the second hidden layer
neural_net_layer_2 = neural_net.add(Dense(units=hidden_nodes_layer_2, activation='relu', name='layer_2'))

In [84]:
# Add the output layer to the model specifying the number of output neurons and activation function
neural_net_layer_out = neural_net.add(Dense(units=1, activation='relu', name='layer_out'))

In [85]:
# Review the model layers created, along with initial iterative input weights prior to seeing any data
display(neural_net.layers)
display(neural_net.weights) # For example, confirms 29 weights, corresponding to 29 nodes, applied to input at the output layer

[<keras.src.layers.core.dense.Dense at 0x29e1fce20>,
 <keras.src.layers.core.dense.Dense at 0x29a0968f0>,
 <keras.src.layers.core.dense.Dense at 0x29a097580>]

[<tf.Variable 'layer_1/kernel:0' shape=(116, 58) dtype=float32, numpy=
 array([[ 0.1702889 , -0.00987062,  0.01828152, ...,  0.15309738,
         -0.13403265,  0.12632035],
        [ 0.18061928,  0.18234222, -0.11786651, ..., -0.05728073,
         -0.05375184,  0.02314033],
        [ 0.16405334, -0.04112902,  0.147949  , ..., -0.12825043,
          0.06741159,  0.00906099],
        ...,
        [-0.0644549 ,  0.00031358,  0.04649962, ..., -0.0432938 ,
          0.00416566, -0.17929569],
        [-0.17802487,  0.17871596, -0.13664557, ..., -0.16652167,
         -0.06343529, -0.11235002],
        [ 0.06122482,  0.1587073 ,  0.02604975, ...,  0.16407518,
          0.03024153, -0.07916725]], dtype=float32)>,
 <tf.Variable 'layer_1/bias:0' shape=(58,) dtype=float32, numpy=
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0.], dtype=float32)>,
 <tf.Variable 'layer_2/kernel:0' shape=(58, 29) dtype=float32, numpy=
 array([[ 0.17748293, -0.02069715,  0.18248644, ...,  0.25297022,
          0.22363058,  0.05338195],
        [ 0.24965084,  0.13079232, -0.0997511 , ..., -0.22065485,
         -0.17506175,  0.17602152],
        [ 0.06267416, -0.03667505,  0.26159954, ..., -0.18088365,
         -0.1679565 , -0.1687704 ],
        ...,
        [ 0.17919877,  0.03493023,  0.2231642 , ..., -0.04203267,
          0.12274733, -0.08869767],
        [-0.20785505, -0.08855335,  0.18281353, ..., -0.21922196,
          0.1329053 ,  0.1089105 ],
        [-0.17534006,  0.18230236,  0.00255752, ..., -0.04390363,
         -0.02769025,  0.20915186]], dtype=float32)>,
 <tf.Variable 'layer_2/bias:0' shape=(29,) dtype=float32, numpy=
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)>,
 <tf.Variable 'layer_out/kernel:0' shape=(29, 1) dtype=float32, numpy=
 array([[-0.27250576],
        [ 0.274329  ],
        [ 0.13806897],
        [-0.06145117],
        [ 0.06304699],
        [ 0.26353598],
        [-0.3277404 ],
        [ 0.17867392],
        [-0.4066941 ],
        [ 0.20241678],
        [-0.2951271 ],
        [ 0.27249753],
        [ 0.2950849 ],
        [-0.44438794],
        [ 0.27639198],
        [ 0.2362318 ],
        [-0.06580877],
        [-0.1174033 ],
        [-0.11206931],
        [-0.05063266],
        [-0.10815239],
        [ 0.135517  ],
        [ 0.28586775],
        [-0.25515717],
        [-0.37249136],
        [-0.3673334 ],
        [-0.19150284],
        [ 0.2924888 ],
        [-0.32957977]], dtype=float32)>,
 <tf.Variable 'layer_out/bias:0' shape=(1,) dtype=float32, numpy=array([0.], dtype=float32)>]

In [86]:
# Display the summary for the Sequential model build.
# "Every layer has both an input and output attribute," c.f. https://keras.io/guides/sequential_model/
display(neural_net.summary())
# For example, layer_1 has 6786 parameters for input activation function = 116 features * 58 nodes + 58 bias parameters

Model: "neural_net_venture_funding_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 layer_1 (Dense)             (None, 58)                6786

 layer_2 (Dense)             (None, 29)                1711

 layer_out (Dense)           (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

None

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [89]:
# Compile the Sequential model, specifying the training configuration, including the loss function, optimizer, and evaluation metric(s)
# Available Keras optimizers: SGD, RMSprop, Adam, AdamW, Adadelta, Adagrad, Adamax, Adafactor, Nadam, Ftrl, c.f. https://keras.io/api/optimizers/
# Available probabilistic loss functions for classification problems: binary_crossentropy, categorical_crossentropy, poisson, kl_divergence, c.f. https://keras.io/api/losses/
# binary_crossentropy "computes the cross-entropy loss between true labels and predicted labels." \n
# "Use this cross-entropy loss for binary (0 or 1) classification applications." c.f. https://keras.io/api/losses/probabilistic_losses/#binary_crossentropy-function
# Available metrics at https://keras.io/api/metrics/
neural_net.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [90]:
# Fit the model using 50 epochs and the training data
neural_net_trained_model = neural_net.fit(X_train_scaled, y_train, epochs=50)
# 32 training samples is the default batch size.  The total training sample size is 25724, or 75% of 34299. \n
# Therefore, there are 804 batches run per epoch, at 32 samples per batch, equals 25724 training samples per epoch.
# The model struggles in training to reduce losses, while little progress is made to improve accuracy

Epoch 1/50

2023-10-24 12:37:38.075909: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 7s 6ms/step - loss: 2.2599 - accuracy: 0.6459
Epoch 2/50
804/804 [==============================] - 5s 6ms/step - loss: 3.6571 - accuracy: 0.6561
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 4.3346 - accuracy: 0.6882
Epoch 4/50
804/804 [==============================] - 5s 7ms/step - loss: 4.2455 - accuracy: 0.6925
Epoch 5/50
804/804 [==============================] - 5s 6ms/step - loss: 3.6515 - accuracy: 0.6860
Epoch 6/50
804/804 [==============================] - 5s 6ms/step - loss: 3.4868 - accuracy: 0.6776
Epoch 7/50
804/804 [==============================] - 5s 6ms/step - loss: 3.2611 - accuracy: 0.6789
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 3.1049 - accuracy: 0.6754
Epoch 9/50
804/804 [==============================] - 5s 6ms/step - loss: 3.2349 - accuracy: 0.6581
Epoch 10/50
804/804 [==============================] - 5s 6ms/step - loss: 3.9559 - accuracy: 0.6585
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 3.9614 - accuracy: 0.6651
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 3.9002 - accuracy: 0.6693
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4476 - accuracy: 0.6820
Epoch 14/50
804/804 [==============================] - 6s 7ms/step - loss: 4.0894 - accuracy: 0.6905
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 3.2581 - accuracy: 0.7061
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 3.1140 - accuracy: 0.7133
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 3.0483 - accuracy: 0.7059
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 2.8059 - accuracy: 0.7191
Epoch 19/50
804/804 [==============================] - 5s 6ms/step - loss: 3.3847 - accuracy: 0.7047
Epoch 20/50
804/804 [==============================] - 5s 6ms/step - loss: 3.9700 - accuracy: 0.7061
Epoch 21/50
804/804 [==============================] - 6s 7ms/step - loss: 3.9333 - accuracy: 0.7196
Epoch 22/50
804/804 [==============================] - 6s 7ms/step - loss: 4.0516 - accuracy: 0.7212
Epoch 23/50
804/804 [==============================] - 5s 7ms/step - loss: 4.0082 - accuracy: 0.7182
Epoch 24/50
804/804 [==============================] - 5s 7ms/step - loss: 4.4058 - accuracy: 0.7032
Epoch 25/50
804/804 [==============================] - 5s 6ms/step - loss: 4.1338 - accuracy: 0.7171
Epoch 26/50
804/804 [==============================] - 5s 6ms/step - loss: 4.0910 - accuracy: 0.7180
Epoch 27/50
804/804 [==============================] - 6s 7ms/step - loss: 4.3748 - accuracy: 0.7049
Epoch 28/50
804/804 [==============================] - 6s 7ms/step - loss: 4.7311 - accuracy: 0.6822
Epoch 29/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4886 - accuracy: 0.7005
Epoch 30/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4519 - accuracy: 0.7047
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 4.2800 - accuracy: 0.7138
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4426 - accuracy: 0.6826
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4151 - accuracy: 0.7023
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 4.5225 - accuracy: 0.7047
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 4.3687 - accuracy: 0.7081
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4297 - accuracy: 0.7043
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4609 - accuracy: 0.7029
Epoch 38/50
804/804 [==============================] - 5s 6ms/step - loss: 4.2565 - accuracy: 0.7204
Epoch 39/50
804/804 [==============================] - 6s 7ms/step - loss: 4.2483 - accuracy: 0.7204
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 4.5057 - accuracy: 0.7002
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 4.6277 - accuracy: 0.6966
Epoch 42/50
804/804 [==============================] - 5s 6ms/step - loss: 4.7095 - accuracy: 0.6917
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 4.5043 - accuracy: 0.7049
Epoch 44/50
804/804 [==============================] - 5s 6ms/step - loss: 4.5706 - accuracy: 0.6973
Epoch 45/50
804/804 [==============================] - 5s 6ms/step - loss: 4.6285 - accuracy: 0.6976
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 4.3770 - accuracy: 0.7117
Epoch 47/50
804/804 [==============================] - 5s 6ms/step - loss: 4.3163 - accuracy: 0.7138
Epoch 48/50
804/804 [==============================] - 5s 6ms/step - loss: 4.2436 - accuracy: 0.7217
Epoch 49/50
804/804 [==============================] - 5s 6ms/step - loss: 4.1771 - accuracy: 0.7241
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 4.1953 - accuracy: 0.7190

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [99]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = neural_net.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 4.7346 - accuracy: 0.6814 - 820ms/epoch - 3ms/step
Loss: 4.7345685958862305, Accuracy: 0.681399405002594

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [101]:
# Set the model's file path
file_nm_path = Path('Resources/AlphabetSoup.h5')
# Alternatively, set the file name path to the native .keras file format
file_nm_path_alt = Path('Resources/AlphabetSoup.keras')

# Export your model to a HDF5 file
neural_net.save(file_nm_path)
# Alternatively, export to the native .keras file format
neural_net.save(file_nm_path_alt)

/Users/bozmbp18/Tresorit/Boz & Company LLC/IAR/Todd Meier/Education/Columbia Engineering/CU-VIRT-FIN-PT-06-2023-U-LOLC/GitHub_Repository/CU-VIRT-FIN-PT-06-2023-U-LOLC/Week_13/Homework/neural-networks-challenge/.venv/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

In [ ]:
# Create the Sequential model instance
nn_A1 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE


# Output layer
# YOUR CODE HERE


# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the Sequential model
nn_A1.# YOUR CODE HERE

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = # YOUR CODE HERE

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE