# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# For Apple Silicon (M1) machine, created virtual environment for machine learning and tensorflow libraries, including tensorflow-metal, according to Apple's recommendations:
# https://developer.apple.com/metal/tensorflow-plugin/

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))

# Review the DataFrame
display(applicant_data_df.info(), applicant_data_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

None

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
print(applicant_data_df.dtypes)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
display(applicant_data_df)
# We have 9 features, or explanatory variables, and 1 target variable, in our final source dataset, prior to any encoding

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables, filtering out numerical fields and leaving categorical fields
cat_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)
#categorical_variables = applicant_data_df.dtypes.loc[applicant_data_df.dtypes=='object'].index #Alternative formulation using .loc, does not appear advantageous

# Display the categorical variables list
display(cat_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
encoder = OneHotEncoder()

In [8]:
# Review the applicant categorical DataFrame
applicant_cat_data_df = applicant_data_df[cat_variables]
display(applicant_cat_data_df)

# Encode the categorical DataFrame using OneHotEncoder
applicant_cat_data_encoded = encoder.fit_transform(applicant_cat_data_df)
print(f"Categorical DataFrame shape: {applicant_cat_data_encoded.shape}")

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

Categorical DataFrame shape: (34299, 114)

In [9]:
# Create a DataFrame with the encoded variables
applicant_cat_data_encoded_df = pd.DataFrame(applicant_cat_data_encoded.todense(), columns=encoder.get_feature_names_out(cat_variables)) # 'todense() required as it appears pandas requires dense, not sparse input

# Review the DataFrame
display(applicant_cat_data_encoded_df)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Create DataFrame for numerical fields only
applicant_num_data_df = applicant_data_df.drop(columns=cat_variables)
#display(applicant_num_data_df)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
applicant_encoded_df = pd.concat([applicant_num_data_df, applicant_cat_data_encoded_df], axis='columns')

# Review the DataFrame
display(applicant_encoded_df)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
#Create a list for the target variable field name(s)
y_target = ['IS_SUCCESSFUL']

# Define the target set y using the IS_SUCCESSFUL column
y = applicant_encoded_df[y_target]

# Display a sample of y
display(y)
display(y.value_counts())
# Observed target variable, y, is already numerically encoded, therefore can forgo encoding via something like LabelEncoder() object.

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 1 columns]

IS_SUCCESSFUL
1                18261
0                16038
Name: count, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = applicant_encoded_df.drop(columns=y_target)

# Review the features DataFrame
display(X)

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
standard_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler_fit = standard_scaler.fit(X_train)

# Use the fit scaler to transform the scale of the features training and testing datasets
X_train_scaled = X_scaler_fit.transform(X_train)
X_test_scaled = X_scaler_fit.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers. 'relu' is the Rectified Linear Unit activation function.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1] # Alternative formulation is: len(X_train.iloc[0])
#print(X_train_scaled.shape)
print(X_train.shape)

# Review the number of features
print(number_input_features)

(25724, 116)
116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1 # Single target variable output neuron

In [17]:
# Define the number of hidden nodes for the first hidden layer
# We will use the general guidance provided in class, although this is more art than recipe:
# Use the mean of the number of input features plus the number of output neurons
hidden_nodes_layer_1 = (number_input_features + number_output_neurons) // 2 # Python floor division operator (//) returns the quotient rounded down to the nearest integer

# Review the number hidden nodes in the first layer
print(hidden_nodes_layer_1)

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
# We will use the general guidance provided in class, although more art than recipe:
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output neurons
hidden_nodes_layer_2 =  (hidden_nodes_layer_1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
print(hidden_nodes_layer_2)

29

In [19]:
# Create the Sequential model instance
neural_net = Sequential(name='neural_net_venture_funding_model') # An alternative formulation is the Functional Model, or Model() object, also from the Keras library (c.f. https://becominghuman.ai/sequential-vs-functional-model-in-keras-20684f766057)

2023-10-26 01:00:12.903602: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1
2023-10-26 01:00:12.903626: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2023-10-26 01:00:12.903632: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2023-10-26 01:00:12.904215: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:303] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-10-26 01:00:12.904475: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:269] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [20]:
# Add the first hidden layer
neural_net.add(Dense(units=hidden_nodes_layer_1, input_dim=number_input_features, 
                                                      activation='relu', name='layer_1'))

In [21]:
# Add the second hidden layer
neural_net.add(Dense(units=hidden_nodes_layer_2, activation='relu', name='layer_2'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
neural_net.add(Dense(units=number_output_neurons, activation='relu', name='layer_out'))

In [23]:
# Review the model layers created, along with initial iterative input weights prior to seeing any data
display(neural_net.layers)
display(neural_net.weights) # For example, confirms 29 weights, corresponding to 29 nodes, applied to input at the output layer

[<keras.src.layers.core.dense.Dense at 0x291000790>,
 <keras.src.layers.core.dense.Dense at 0x291001ba0>,
 <keras.src.layers.core.dense.Dense at 0x291000550>]

[<tf.Variable 'layer_1/kernel:0' shape=(116, 58) dtype=float32, numpy=
 array([[-0.04780875,  0.11947654,  0.1780927 , ...,  0.11744745,
         -0.02741735,  0.00856961],
        [ 0.09825696,  0.06012644,  0.13906546, ...,  0.05930801,
          0.10411154, -0.07995208],
        [ 0.10393031, -0.12376127,  0.07657231, ..., -0.09898601,
         -0.11080152,  0.18448828],
        ...,
        [-0.02803212, -0.13014595,  0.01437728, ..., -0.06838525,
          0.0182469 ,  0.01485008],
        [ 0.09741355,  0.17909335,  0.03455795, ...,  0.18439029,
         -0.0450917 , -0.0036211 ],
        [-0.06634461,  0.1373459 , -0.16079727, ..., -0.02266696,
         -0.05163537,  0.03594334]], dtype=float32)>,
 <tf.Variable 'layer_1/bias:0' shape=(58,) dtype=float32, numpy=
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0.], dtype=float32)>,
 <tf.Variable 'layer_2/kernel:0' shape=(58, 29) dtype=float32, numpy=
 array([[-0.18102916,  0.06350195,  0.17892197, ...,  0.11785555,
          0.18536401,  0.08067429],
        [ 0.22037715,  0.08536547, -0.24417101, ...,  0.00050458,
          0.2220459 ,  0.10554901],
        [-0.04474114, -0.02422237,  0.20246217, ...,  0.06905243,
          0.2450599 , -0.09514087],
        ...,
        [ 0.09499535,  0.13206598,  0.15514812, ...,  0.21860957,
          0.09010375, -0.15568672],
        [-0.19587034, -0.08323111,  0.10951471, ...,  0.1576528 ,
          0.14879528,  0.1987654 ],
        [-0.03259788,  0.04059762,  0.0947372 , ...,  0.13393927,
          0.03613427, -0.11739078]], dtype=float32)>,
 <tf.Variable 'layer_2/bias:0' shape=(29,) dtype=float32, numpy=
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)>,
 <tf.Variable 'layer_out/kernel:0' shape=(29, 1) dtype=float32, numpy=
 array([[-0.16267437],
        [ 0.00148591],
        [ 0.38698763],
        [-0.08800673],
        [-0.06304753],
        [ 0.09654838],
        [ 0.18262327],
        [ 0.28601736],
        [ 0.4019199 ],
        [-0.29127127],
        [ 0.12346518],
        [-0.1920399 ],
        [ 0.44407594],
        [ 0.21539247],
        [ 0.11230612],
        [ 0.38219595],
        [-0.36422908],
        [ 0.05953681],
        [-0.28242412],
        [-0.16804853],
        [ 0.17002457],
        [-0.13623416],
        [-0.32110327],
        [ 0.2230277 ],
        [-0.21278392],
        [-0.00630265],
        [ 0.0916937 ],
        [-0.27772278],
        [ 0.27403498]], dtype=float32)>,
 <tf.Variable 'layer_out/bias:0' shape=(1,) dtype=float32, numpy=array([0.], dtype=float32)>]

In [24]:
# Display the summary for the Sequential model build.
# "Every layer has both an input and output attribute," c.f. https://keras.io/guides/sequential_model/
display(neural_net.summary())
# For example, layer_1 has 6786 parameters for weights and bias = 116 features * 58 nodes + 58 bias parameters

Model: "neural_net_venture_funding_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 layer_1 (Dense)             (None, 58)                6786

 layer_2 (Dense)             (None, 29)                1711

 layer_out (Dense)           (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

None

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model, specifying the training configuration, including the loss function, optimizer, and evaluation metric(s)
# Available Keras optimizers: SGD, RMSprop, Adam, AdamW, Adadelta, Adagrad, Adamax, Adafactor, Nadam, Ftrl, c.f. https://keras.io/api/optimizers/
# Available probabilistic loss functions for classification problems: binary_crossentropy, categorical_crossentropy, poisson, kl_divergence, c.f. https://keras.io/api/losses/
# binary_crossentropy "computes the cross-entropy loss between true labels and predicted labels." \n
# "Use this cross-entropy loss for binary (0 or 1) classification applications." c.f. https://keras.io/api/losses/probabilistic_losses/#binary_crossentropy-function
# Available metrics at https://keras.io/api/metrics/
neural_net.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [26]:
# Fit the model using 50 epochs and the training data
neural_net_trained_model = neural_net.fit(X_train_scaled, y_train, epochs=50)
# 32 training samples is the default batch size.  The total training sample size is 25724, or 75% of 34299. \n
# Therefore, there are 804 batches run per epoch, at 32 samples per batch, equals 25724 training samples per epoch.
# The model struggles in training to reduce losses, while little progress is made to improve accuracy

Epoch 1/50

2023-10-26 01:00:13.442442: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 5s 6ms/step - loss: 3.0554 - accuracy: 0.6808
Epoch 2/50
804/804 [==============================] - 5s 6ms/step - loss: 3.1100 - accuracy: 0.6720
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 3.2090 - accuracy: 0.6714
Epoch 4/50
804/804 [==============================] - 5s 6ms/step - loss: 2.9904 - accuracy: 0.6879
Epoch 5/50
804/804 [==============================] - 5s 6ms/step - loss: 4.4206 - accuracy: 0.5886
Epoch 6/50
804/804 [==============================] - 5s 6ms/step - loss: 6.7945 - accuracy: 0.5159
Epoch 7/50
804/804 [==============================] - 5s 6ms/step - loss: 6.6255 - accuracy: 0.5197
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 6.5798 - accuracy: 0.5193
Epoch 9/50
804/804 [==============================] - 5s 6ms/step - loss: 6.5814 - accuracy: 0.5189
Epoch 10/50
804/804 [==============================] - 5s 6ms/step - loss: 6.5804 - accuracy: 0.5190
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 6.7774 - accuracy: 0.5146
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 6.8670 - accuracy: 0.5170
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 6.5712 - accuracy: 0.5333
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 6.4557 - accuracy: 0.5391
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 6.4557 - accuracy: 0.5398
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 6.4860 - accuracy: 0.5355
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 5.4036 - accuracy: 0.5851
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 4.2293 - accuracy: 0.6550
Epoch 19/50
804/804 [==============================] - 5s 6ms/step - loss: 4.1759 - accuracy: 0.6478
Epoch 20/50
804/804 [==============================] - 5s 6ms/step - loss: 4.0910 - accuracy: 0.6525
Epoch 21/50
804/804 [==============================] - 5s 6ms/step - loss: 4.3144 - accuracy: 0.6500
Epoch 22/50
804/804 [==============================] - 5s 6ms/step - loss: 4.1926 - accuracy: 0.6778
Epoch 23/50
804/804 [==============================] - 5s 6ms/step - loss: 3.7587 - accuracy: 0.7067
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 3.6249 - accuracy: 0.6971
Epoch 25/50
804/804 [==============================] - 5s 6ms/step - loss: 3.5749 - accuracy: 0.7007
Epoch 26/50
804/804 [==============================] - 5s 6ms/step - loss: 3.6508 - accuracy: 0.6931
Epoch 27/50
804/804 [==============================] - 5s 6ms/step - loss: 3.8236 - accuracy: 0.7014
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 3.6216 - accuracy: 0.6984
Epoch 29/50
804/804 [==============================] - 5s 6ms/step - loss: 4.6740 - accuracy: 0.6578
Epoch 30/50
804/804 [==============================] - 5s 6ms/step - loss: 6.3463 - accuracy: 0.5498
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 7.0545 - accuracy: 0.5359
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 6.9709 - accuracy: 0.5349
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 6.7545 - accuracy: 0.5345
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 6.7169 - accuracy: 0.5365
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 6.9155 - accuracy: 0.5330
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 6.9059 - accuracy: 0.5439
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 6.1714 - accuracy: 0.5837
Epoch 38/50
804/804 [==============================] - 5s 6ms/step - loss: 4.7471 - accuracy: 0.6879
Epoch 39/50
804/804 [==============================] - 5s 6ms/step - loss: 4.8213 - accuracy: 0.6838
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 4.9126 - accuracy: 0.6789
Epoch 41/50
804/804 [==============================] - 4s 6ms/step - loss: 4.8026 - accuracy: 0.6838
Epoch 42/50
804/804 [==============================] - 5s 6ms/step - loss: 4.9081 - accuracy: 0.6781
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 4.7453 - accuracy: 0.6893
Epoch 44/50
804/804 [==============================] - 5s 6ms/step - loss: 4.7035 - accuracy: 0.6920
Epoch 45/50
804/804 [==============================] - 5s 6ms/step - loss: 4.7478 - accuracy: 0.6895
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 4.7163 - accuracy: 0.6911
Epoch 47/50
804/804 [==============================] - 5s 6ms/step - loss: 4.3754 - accuracy: 0.7068
Epoch 48/50
804/804 [==============================] - 5s 6ms/step - loss: 4.3417 - accuracy: 0.7160
Epoch 49/50
804/804 [==============================] - 5s 6ms/step - loss: 4.2696 - accuracy: 0.7212
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 4.2615 - accuracy: 0.7219

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = neural_net.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2023-10-26 01:04:10.386683: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

268/268 - 1s - loss: 4.2685 - accuracy: 0.7214 - 1s/epoch - 4ms/step
Loss: 4.26849365234375, Accuracy: 0.7213994264602661

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_nm_path = Path('Resources/AlphabetSoup.h5')
# Alternatively, set the file name path to the native .keras file format
file_nm_path_alt = Path('Resources/AlphabetSoup.keras')

# Export your model to a HDF5 file
neural_net.save(file_nm_path)
# Alternatively, export to the native .keras file format
neural_net.save(file_nm_path_alt)

/Users/bozmbp18/Tresorit/Boz & Company LLC/IAR/Todd Meier/Education/Columbia Engineering/CU-VIRT-FIN-PT-06-2023-U-LOLC/GitHub_Repository/CU-VIRT-FIN-PT-06-2023-U-LOLC/Week_13/Homework/neural-networks-challenge/.venv/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

**`The a priori neural net venture funding model optimizing strategy:`**
>1. `fff`
>2. `fff`
>3. `fff`

### Alternative Model 1

In [35]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A1

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1 # Maintain single target variable output neuron
number_output_neurons_A1

1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features_A1 + number_output_neurons_A1) // 2 # Maintain first layer number of nodes

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + number_output_neurons_A1) // 2 # Maintain second layer number of nodes

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

29

In [39]:
# Import LeakyReLU, which is available as a layer, not as an activation function per se.
# LeakyReLU is considered an "advanced activation" layer.
# "Activations that are more complex than a simple TensorFlow function (eg. learnable activations, which maintain a state) are available as Advanced Activation layers, \n
# and can be found in the module tf.keras.layers.advanced_activations. These include PReLU and LeakyReLU. Note that you should not pass activation layers instances as \n
# the activation argument of a layer. They're meant to be used just like regular layers," c.f. https://keras.io/api/layers/activations/
from keras.layers import LeakyReLU

# Create the Sequential model instance
neural_net_A1 = Sequential(name='neural_net_venture_funding_model_A1')

In [40]:
# Add layers to the neural_net instance

# First hidden layer ('1a' and '1b')
# 2-Step process since there is no alias for LeakyReLU as there is for ReLU 'relu':
# First step: Applies weights to inputs and adds bias
neural_net_A1.add(Dense(
    units=hidden_nodes_layer1_A1, input_dim=number_input_features_A1, name='layer_1a_A1'))
# Second step: 
neural_net_A1.add(LeakyReLU(name='layer_1b_A1')) # alpha parameter default for LeakyReLU is 0.3, assume for all LeakyReLU layers for now

# Second hidden layer ('2a' and '2b')
neural_net_A1.add(Dense(units=hidden_nodes_layer2_A1, name='layer_2a_A1'))
neural_net_A1.add(LeakyReLU(name='layer_2b_A1'))

# Output layer ('out_a' and 'out_b')
neural_net_A1.add(Dense(units=number_output_neurons_A1, name='layer_out_a_A1'))
neural_net_A1.add(LeakyReLU(name='layer_out_b_A1'))

# Check the structure of the model
display(neural_net_A1.summary())

Model: "neural_net_venture_funding_model_A1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 layer_1a_A1 (Dense)         (None, 58)                6786

 layer_1b_A1 (LeakyReLU)     (None, 58)                0

 layer_2a_A1 (Dense)         (None, 29)                1711

 layer_2b_A1 (LeakyReLU)     (None, 29)                0

 layer_out_a_A1 (Dense)      (None, 1)                 30

 layer_out_b_A1 (LeakyReLU)  (None, 1)                 0

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

None

In [41]:
# Review the model's dense layers created, along with initial iterative input weights and bias prior to seeing any data
display(neural_net_A1.weights)
#weights, biases = neural_net_A1.layers[0].get_weights()
#print(weights, biases)

[<tf.Variable 'layer_1a_A1/kernel:0' shape=(116, 58) dtype=float32, numpy=
 array([[-0.0102616 , -0.17868583, -0.03656358, ..., -0.10380994,
          0.15171267, -0.04738235],
        [-0.00534023,  0.08391874, -0.12987092, ...,  0.03264034,
          0.11690001,  0.13215362],
        [-0.16374339, -0.05371037, -0.14800099, ...,  0.01398174,
          0.01308627, -0.11622211],
        ...,
        [ 0.02836497, -0.1548211 , -0.09813633, ..., -0.10015483,
          0.12002973,  0.08456866],
        [ 0.09718971, -0.16013476, -0.10236353, ...,  0.15676565,
         -0.11581081, -0.13294579],
        [ 0.17840321, -0.08105266,  0.06037398, ..., -0.10335919,
         -0.03843318, -0.0361876 ]], dtype=float32)>,
 <tf.Variable 'layer_1a_A1/bias:0' shape=(58,) dtype=float32, numpy=
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0.], dtype=float32)>,
 <tf.Variable 'layer_2a_A1/kernel:0' shape=(58, 29) dtype=float32, numpy=
 array([[ 0.09360194,  0.22589111,  0.16407934, ...,  0.23266572,
          0.22100377, -0.25635275],
        [ 0.03855658, -0.0566318 , -0.16804516, ...,  0.08967775,
         -0.20360935,  0.09402213],
        [ 0.16830236, -0.10561176, -0.07080053, ..., -0.16061282,
          0.05520418,  0.18801   ],
        ...,
        [-0.09004678, -0.10826111,  0.2467106 , ..., -0.04758677,
         -0.07206097, -0.24508971],
        [-0.16524209,  0.11954218, -0.04223773, ...,  0.07682091,
         -0.15396301,  0.11490491],
        [ 0.10424456, -0.23558612,  0.06735432, ...,  0.1955576 ,
          0.08526185,  0.08601087]], dtype=float32)>,
 <tf.Variable 'layer_2a_A1/bias:0' shape=(29,) dtype=float32, numpy=
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)>,
 <tf.Variable 'layer_out_a_A1/kernel:0' shape=(29, 1) dtype=float32, numpy=
 array([[ 0.06629479],
        [ 0.3958878 ],
        [-0.15259519],
        [-0.05119157],
        [-0.34354785],
        [ 0.36353302],
        [-0.15481234],
        [ 0.02609763],
        [-0.12410995],
        [ 0.44044948],
        [ 0.33847862],
        [-0.36778584],
        [ 0.15651178],
        [ 0.18011802],
        [-0.10409299],
        [ 0.4116773 ],
        [-0.07774138],
        [ 0.29186678],
        [-0.25826812],
        [ 0.41464525],
        [-0.13927999],
        [ 0.3025974 ],
        [-0.1009334 ],
        [ 0.04253435],
        [ 0.00430325],
        [-0.2439753 ],
        [-0.09293404],
        [ 0.0263564 ],
        [-0.02180195]], dtype=float32)>,
 <tf.Variable 'layer_out_a_A1/bias:0' shape=(1,) dtype=float32, numpy=array([0.], dtype=float32)>]

In [42]:
# Compile the Sequential model
neural_net_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [43]:
# Fit the model using 50 epochs and the training data
neural_net_trained_model_A1 = neural_net_A1.fit(X_train_scaled, y_train, epochs=50)
# We observed that the LeakyReLU activation function produced an immediate improvement in reducing the loss and increasing the accuracy at the very outset of training, in the first few epochs.
# However, as with ReLU, we observed that the model with LeakyReLU struggled to marginally reduce loss and increase accuracy as training progressed.  While the LeakyReLU loss function plateaued \n
# around 0.7, significantly less than ReLU which plateaued around 4.2, after 50 epochs, LeakyReLU accuracy terminated at 0.73, not significantly superior to the ReLU model where accuracy terminated at 0.72.
# While we demonstrated that LeakyReLU is the superior activation function in terms of both training efficiency, the speed at which the model converged on a solution, and fit, reflected in the loss \n
# function metric, the lack of improvement in accuracy indicates that we have more work to do to improve the model's predictive power as measured by accuracy.

Epoch 1/50

2023-10-26 01:30:49.649375: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 5s 6ms/step - loss: 1.0584 - accuracy: 0.6965
Epoch 2/50
804/804 [==============================] - 5s 6ms/step - loss: 1.1958 - accuracy: 0.6986
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 0.9048 - accuracy: 0.7140
Epoch 4/50
804/804 [==============================] - 5s 6ms/step - loss: 1.0372 - accuracy: 0.7121
Epoch 5/50
804/804 [==============================] - 5s 6ms/step - loss: 1.0904 - accuracy: 0.7117
Epoch 6/50
804/804 [==============================] - 5s 6ms/step - loss: 1.4647 - accuracy: 0.6873
Epoch 7/50
804/804 [==============================] - 5s 6ms/step - loss: 2.2510 - accuracy: 0.6473
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7749 - accuracy: 0.6855
Epoch 9/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8165 - accuracy: 0.6752
Epoch 10/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7570 - accuracy: 0.6811
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 1.4884 - accuracy: 0.6927
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 1.0741 - accuracy: 0.7108
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 0.9235 - accuracy: 0.7126
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 0.8224 - accuracy: 0.7146
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7369 - accuracy: 0.7178
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7641 - accuracy: 0.7151
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7438 - accuracy: 0.7241
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7477 - accuracy: 0.7233
Epoch 19/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7471 - accuracy: 0.7151
Epoch 20/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7314 - accuracy: 0.7262
Epoch 21/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7149 - accuracy: 0.7270
Epoch 22/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7321 - accuracy: 0.7071
Epoch 23/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7362 - accuracy: 0.7203
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7322 - accuracy: 0.7236
Epoch 25/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7230 - accuracy: 0.7264
Epoch 26/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7327 - accuracy: 0.7268
Epoch 27/50
804/804 [==============================] - 5s 6ms/step - loss: 0.8821 - accuracy: 0.7195
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 0.8070 - accuracy: 0.7169
Epoch 29/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7148 - accuracy: 0.7250
Epoch 30/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7095 - accuracy: 0.7274
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7043 - accuracy: 0.7283
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7027 - accuracy: 0.7263
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.8579 - accuracy: 0.7169
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 1.1368 - accuracy: 0.6997
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 0.9645 - accuracy: 0.7021
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 0.9008 - accuracy: 0.6974
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.9038 - accuracy: 0.6924
Epoch 38/50
804/804 [==============================] - 5s 7ms/step - loss: 0.7158 - accuracy: 0.7221
Epoch 39/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7119 - accuracy: 0.7261
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7002 - accuracy: 0.7262
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7281 - accuracy: 0.7240
Epoch 42/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7366 - accuracy: 0.7257
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 0.7108 - accuracy: 0.7221
Epoch 44/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6813 - accuracy: 0.7189
Epoch 45/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6473 - accuracy: 0.7165
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6271 - accuracy: 0.7072
Epoch 47/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6191 - accuracy: 0.7276
Epoch 48/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6368 - accuracy: 0.7240
Epoch 49/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6879 - accuracy: 0.7268
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6777 - accuracy: 0.7288

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE